:root {
    --red: #EE3465;
    --white: white;
    --gray: #8B8B8B;
    --blue: #4285F4;
    --green: #3DDC84;
    --black: #000;
    --light-gray-color: #272727;
    --dark-light-gray-color: #303030;
    --main-color: #202020;
    --promo-color: #073042;
    --dark-gray-color: #2F2F2F;
    --card-color: #222;
    --linkcontainer-color: #424242;
    --account-link-img-backgroun: #313131;
    --submit-btn-color: #3456F3;
    --opacity: 0.5;
}