.section-title {
    margin: 0;
    font-size: 22px;
    font-style: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px solid var(--white);
    padding-bottom: 23px;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 620px) {
    .section-title {
        font-size: 18px;
        padding-bottom: 28px;
    }

}