.portfolio__title {
    color: var(--gray);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-top: 100px;
}

.portfolio__linklist {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    list-style-type: none;
}

.portfolio__linkcontainer {
    border-bottom: 1px solid var(--linkcontainer-color);
    padding-bottom: 9px;
}

.portfolio__linkcontainer:not(:last-child) {
    margin-bottom: 20px;
}

.portfolio__link {
    display: flex;
    justify-content: space-between;
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: -1.2px;
}

.portfolio__text {
    font-size: 30px;
    line-height: 50px;
}

.portfolio__symbol {
    font-size: 30px;
    line-height: 60px;
}

@media screen and (max-width: 990px) {
    .portfolio__title {
        margin-top: 90px;
    }

    .portfolio__text {
        font-size: 28px;
        letter-spacing: -1.12px;
    }
}

@media screen and (max-width: 620px) {
    .portfolio__title {
        margin-top: 70px;
        font-size: 14px;
    }

    .portfolio__linkcontainer {
        padding-bottom: 19px;
    }

    .portfolio__linklist {
        margin-top: 41px;
    }
    
    .portfolio__text {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }

    .portfolio__symbol {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }
}