.header {
    display: flex;
    flex-direction: row;
    padding: 18px 70px;
    font-style: normal;
    color: var(--white);
    align-items: center;
}

.header_promo {
    background-color: var(--promo-color);
}

.header__end-content {
    margin-left: auto;
    position: relative;
}

.header__img {
    width: 38px;
    height: 38px;
}

.header-button-container {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    align-items: center;
}

.header-button__signup {
    display: block;
    color: var(--white);
    text-decoration: none;
    margin-right: 30px;
}

.header-button__signin {
    text-decoration: none;
    display: block;
    color: var(--black);
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    background: var(--green);
}

.header__hamburger {
    display: none;
    background-image: url("../../images/hamburger-menu-icon.svg");
    background-position: center;
    background-repeat: none;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 43px;
    cursor: pointer;
}


@media screen and (max-width: 990px) {
    .header {
        padding: 18px 30px;
    }

    .header__hamburger {
        display: block;
    }

}

@media screen and (max-width: 620px) {
    .header {
        padding: 18px 14px;
    }

    .header-button-container {
        font-size: 10px;
    }

    .header-button__signup {
        margin-right: 14px;
    }

    .header-button__signin {
        padding: 5px 12px;
        border-radius: 3px;
    }

}