.footer {
    background: var(--main-color);
    padding: 79px 70px 20px;
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 13px;
}

.footer__text {
    margin: 0;
    text-align: center;
    color: var(--gray);
    border-bottom: 1px solid #424242;
    padding-bottom: 20px;
}

.footer__linkcontainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.footer__date {
    margin: 0;
    margin-right: auto;
}

.footer__link {
    color: var(--white);
    text-decoration: none;
}

.footer__link:not(:last-child) {
    margin-right: 20px;
}

@media screen and (max-width: 990px) {
    .footer {
        padding: 79px 30px 20px;
    }
}

@media screen and (max-width: 620px) {
    .footer {
        padding: 79px 10px 20px;
        font-size: 12px;
    }

    .footer__linkcontainer {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 30px;
    }

    .footer__date {
        margin: 0;
        margin-top: 30px;
    }

    .footer__link:not(:last-child) {
        margin-right: 0;
    }
    .footer__link:last-child {
        margin-top: 12px;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}