.movie {
    background: var(--main-color);
    padding: 0 70px;
    box-sizing: border-box;
}

@media screen and (max-width: 990px) {
    .movie {
        padding: 0 30px;
    }

}

@media screen and (max-width: 620px) {
    .movie {
        padding: 0 14px;
    }
}